body {
    font-size: 14pt;
    font-family: "lmr12", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
	font-style: italic;
    text-align: center;
	font-size: 14pt;
}
h1 {
	font-size: 24pt;
}
h2 {
	font-size: 18pt;
}

h1.masthead {
    font-size: 72pt;
}

h2.description {
    font-size: 48pt;
}

div.article {
    width: 6.5in;
    margin: auto;
    margin-top: 1in;
    margin-bottom: 1in;
}

h1.article-title {
	font-weight: normal;
	font-style: normal;
    font-size: 24pt;
}

h2.article-meta {
	font-size: 20pt;
}

a {
	color: black;
	font-style: italic;
}

a:hover { 
	font-style: normal;
}

img {
    max-width: 100%;
    max-height: 100%;
}

p {
    padding: 0;
    margin: 0;
    text-indent: 28pt;
