<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/fonts/lmr/stylesheet.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>GeorgeRogers42</title>
  </head>
  <body>
    <h1 class="masthead"><a href="/">GeorgeRogers42</a></h1>
    <h2 class="description">George Rogers Blog on Cities</h2>
	  {{#each articles}}
	    <div class="article">
        <h1 class="article-title"><a href="/articles/{{metadata.slug}}">{{metadata.title}}</a></h1>
        <h2 class="article-meta">{{metadata.author}}&mdash;{{metadata.date}}</h2>
        <div class="article-contents">
          {{{contents}}}
        </div>
	    </div>
	  {{/each}}
  </body>
</html>
