{"title": "Experimental Cities", "slug": "experimental-cities", "author": "George Rogers", "date": "2016-06-03T08:45:00-05:00"}

<p>
What is an <em>Experimental City?</em>
An <em>Experimental City</em> is a city that is living, not an ossified version of it's former glory.
Architects view cities in terms of an static analysis of what is there, not the processes behind how the city was built.
</p><p>      
The economic modeling behind <em>Land Development</em> or <em>City Building</em>, is the art and science of building what people actually want, which is not necessarily what they think they want.
Developers do not live in an ideal world.
Therefore they must make compromises in regards to what their clientele values, and can afford.
Because most people want a best of both worlds for their house, Suburbia Wins.
</p>

<h2>Shopping Mall The Ultimate Marketplace</h2>
<div class="figure">
    <img src="/pictures/garage.png"><br>
    <em>Figure 1: A parking garage</em>
</div>
<p>
The parking garage is the ultimate form of dense housing. Because it allows people from wherever to go to the dense walkable environment while having the privacy and space of their suburban home.
</p>
<p>
Malls are the ultimate manifestation of this effect.
You achieve the benefits of urban life without the drawbacks.
Malls far from being dead have been repackaged as town centers;
taking the good parts from new urbanism and suburbia.
Shopping Malls are nice islands of walkable urbanity in a semi rural space&mdash;the kind of space people actually want.
The main confusion of urbanites is thinking everyone wants to live like they are a 25 year old bachelor.
The flaw in their thinking is the tendency to think everyone else is just like me.
</p>
<div class="figure">
    <img src="/pictures/woodlands.jpg"><br>
    <em>Figure 2: The Woodlands Mall</em>
</div>
